
.notifications-popup-body {
    padding: 0rem;
    margin: 0.5rem;   
    min-width: 35rem;
    border-radius: 1.2rem;
    border: 0rem solid $primary;
    box-shadow: 0 0 0px 0px #000000;
    background-color: $surface;
    color: $onSurface;
}
