.powermenu-box {

    background-color: transparent;
    box-shadow: 0 0 0 0px;
    padding: 2rem;
    border-radius: 3rem;


}

.powermenu-entry {
    margin: 0 0.5rem;
}

.powermenu-button {
    background-color: transparentize($surfaceVariant,0.8);
    transition: 0s;
    padding: 2rem 4rem;
    color: $primary;
    border-radius: 3rem;
}

.powermenu-button:hover {
    background-color: $primary;
    color: $background;
}

.powermenu-icon {
    font-size: 6rem;
    margin-right: 0.5rem;
}

.powermenu-text {
    margin-top: 0.5rem;
    font-size: 1.3rem;
    color: $primary;
}

#powermenu-closer {
    background-color: #000000;
}
