
.volume-control-center {
    margin-top: 1.3rem;
}

.volume-scale trough {
    background-color: transparentize($surfaceVariant, 0.60);
    border-radius: 1.3rem;
    min-height: 2.5rem;
    border: 0px;
}


.volume-scale trough highlight {
    background-color: $primary;
    border-radius: 1.3rem;
    min-height: 2.25rem;
}

.volume-icon {
    margin-left: 0.75rem;
    font-size: 1.7rem;

    &.less {
        color: $onSurface;
    }

    ;

    &.more {
        color: $surface;
    }

    ;
}

.volume-arrow {
    background-color: transparentize($surfaceVariant, 0.60);
    color: $onSurface;
    margin-left: 0.5rem;
    border-radius: 1.5rem;
    padding: 0 0.8rem 0 0.9rem;
}

.volume-arrow:hover {
    background-color: transparentize($surfaceVariant, 0.2);
}

.volume-arrow-label {
    font-size: 1.7rem;
}

.volume-mute {
    background-color: transparentize($surfaceVariant, 0.60);
    color: $onSurface;
    margin-left: 0.5rem;
    border-radius: 1.5rem;
    padding: 0 0.7rem 0 0.6rem;

    &.active {
        background-color: $primary;
        color: $surface;
    }

    &.active:hover {
        color: $surface;
        background-color: mix($primary, $onSurface, 70%);
    }
}

.volume-mute:hover {
    background-color: transparentize($surfaceVariant, 0.2);
}

.volume-mute-label {
    font-size: 1.5rem;
    margin-right: 0.45rem;

}

.volume-osd {
    background-color: $surface;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    padding: 1.5rem;
    color: $onSurface;
    margin: 0rem;
    min-width: 25rem;
}


.cornervolume {
    background-color: transparent;
    padding: 25px;
    border-radius: 100%;

    &.left {
        box-shadow: -22px -30px 0px 0px $surface;
    }

    &.right {
        box-shadow: 25px -30px 0px 0px $surface;
    }
}