$primary: #ffaed6;
$onPrimary: #620040;
$primaryContainer: #8a005c;
$onPrimaryContainer: #ffd8e9;
$secondary: #e0bdcb;
$onSecondary: #412a35;
$secondaryContainer: #593f4b;
$onSecondaryContainer: #fdd9e7;
$tertiary: #f3bb9a;
$onTertiary: #4a2811;
$tertiaryContainer: #643e25;
$onTertiaryContainer: #ffdbc5;
$error: #ffb4a9;
$onError: #680003;
$errorContainer: #930006;
$onErrorContainer: #ffb4a9;
$background: #1f1a1c;
$onBackground: #ebdfe2;
$surface: #1f1a1c;
$onSurface: #ebdfe2;
$surfaceVariant: #504348;
$onSurfaceVariant: #d4c2c8;
$outline: #9d8c92;
$shadow: #000000;
$inverseSurface: #ebdfe2;
$inverseOnSurface: #352f31;
$inversePrimary: #b4067c;