$primary: #4edad6;
$onPrimary: #003736;
$primaryContainer: #00504e;
$onPrimaryContainer: #6ff7f3;
$secondary: #b0ccca;
$onSecondary: #1b3534;
$secondaryContainer: #324b4a;
$onSecondaryContainer: #cde8e6;
$tertiary: #b2c8e8;
$onTertiary: #1b324b;
$tertiaryContainer: #324862;
$onTertiaryContainer: #d0e4ff;
$error: #ffb4a9;
$onError: #680003;
$errorContainer: #930006;
$onErrorContainer: #ffb4a9;
$background: #191c1c;
$onBackground: #e1e3e2;
$surface: #191c1c;
$onSurface: #e1e3e2;
$surfaceVariant: #3f4948;
$onSurfaceVariant: #bec8c7;
$outline: #889392;
$shadow: #000000;
$inverseSurface: #e1e3e2;
$inverseOnSurface: #2e3131;
$inversePrimary: #006a67;