@define-color accent_color #4edad6;
@define-color accent_bg_color #4edad6;
@define-color accent_fg_color #191c1c;
@define-color destructive_color #930006;
@define-color destructive_bg_color #930006;
@define-color destructive_fg_color #e1e3e2;
@define-color success_color #b2c8e8;
@define-color success_bg_color #b2c8e8;
@define-color success_fg_color #e1e3e2;
@define-color warning_color #b0ccca;
@define-color warning_bg_color #b0ccca;
@define-color warning_fg_color #e1e3e2;
@define-color error_color #930006;
@define-color error_bg_color #930006;
@define-color error_fg_color #e1e3e2;
@define-color window_bg_color #191c1c;
@define-color window_fg_color #e1e3e2;
@define-color view_bg_color rgba(44, 44, 44, 0.5);
@define-color view_fg_color #e1e3e2;
@define-color headerbar_bg_color #191c1c;
@define-color headerbar_fg_color #e1e3e2;
@define-color headerbar_border_color #889392;
@define-color headerbar_backdrop_color #191c1c;
@define-color headerbar_shade_color #889392;
@define-color sidebar_bg_color ;
@define-color sidebar_fg_color #e1e3e2;
@define-color sidebar_backdrop_color ;
@define-color card_bg_color ;
@define-color card_fg_color #e1e3e2;
@define-color card_shade_color rgba(0, 0, 0, 0.07);
@define-color thumbnail_bg_color #191c1c;
@define-color thumbnail_fg_color #e1e3e2;
@define-color dialog_bg_color #191c1c;
@define-color dialog_fg_color #e1e3e2;
@define-color popover_bg_color ;
@define-color popover_fg_color #e1e3e2;
@define-color shade_color rgba(0, 0, 0, 0.36);
@define-color scrollbar_outline_color #889392;

.navigation-sidebar {
    background-color: ;
}

switch:checked {
    background-color: #4edad6;
}

switch:checked slider {
    background-color: #003736;
}