@import "/home/fede/.config/eww/colors.scss";

.battery-box {
  margin: 0rem 0 0 0;
  padding: 0rem 0rem 0rem 0;
  border-radius: 2rem;
}

.bat-icon {
	font-size : 1.6rem;
    color: $primary;
    margin-right: 0rem;
}

.bat-number {
    font-size: 1.10rem;
    font-weight: 700;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin: 0rem 0rem 0rem -6.6rem;
    
    /* Colore predefinito (medium) */
    color: $onPrimary; 
    
    /* Stato basso (<20%) */
    &.low {
        color: #dd2c00;
    };
    
    /* Stato alto (>50%) */
    &.high {
        color: $onPrimary;
    };
    
    /* Puoi aggiungere uno stato medio se vuoi */
    &.medium {
        color: $onPrimary; // o un altro colore a tua scelta
    };
}

.bat_bar scale trough {
	all: unset;
    background-color: lighten($primaryContainer, 20);
	border-radius: 2rem;
	min-height:  1.6rem;
	min-width: 6.5rem;
    border: 0.2rem solid lighten($primaryContainer, 20);
    margin: 0rem 0 0 0rem;
}

.bat_bar, scale trough highlight {
	all: unset;
    border-radius: 0rem;    
    border-right: none;
}

// Default style
.bat_bar scale trough highlight {
  border-radius: 2rem;
}

// Stato alto
.bat_bar.high scale trough highlight {
  background-color: $primary; // Verde
}

// Stato medio
.bat_bar.medium scale trough highlight {
  background-color: $primary; // Giallo
}

// Stato basso
.bat_bar.low scale trough highlight {
  background-color: #dd2c00; // Rosso
}

.bat-tip {
 color: transparent;
 font-size: 0.6rem;
 margin: 0rem 0.4rem 0 -0.2rem;

}

.bat-tlpui {
background-color: $onBackground; 
}

.bat-status {
	font-size : 1.15rem;
    color: $onPrimary;
    background-color: transparent;
    margin-left: -11.9rem;
}

.powericon {
	font-size : 1.3rem;
    color: #FFFFFF;
    background-color: transparent;
    margin-left: -2.5rem;
}

.powericon:hover {
	font-size : 1.3rem;
    color: $error;
    background-color: transparent;
    margin-left: -2.5rem;
}

.battery-alert {
    background-color: transparent;
}

.batt-box {
    background-color:  transparentize(#000000,0.99);
    border: 0.5rem solid $surface;
    padding: 12rem 30rem 12rem 30rem;
    border-radius: 5rem;
    font-size: 15rem;
    color: #dd2c00;
}

.battery-alert-text {
    font-size: 15rem;
    margin:0 2rem 0 0;
}