.killactive {
    font-size: 1.3rem;
    padding: 0 0.59rem 0 0rem;
    margin: 0 0rem 0 0rem;
    border-radius: 0.7rem;
    color: $primary;
}
.killactive:hover {
    color: #FF1744;
    background-color: transparent;
}