@import "/home/fede/.config/eww/colors.scss";

.capslock-osd {
  background-color: $surface;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  padding: 1.5rem;
  color: $onSurface;
  min-width: 13.5rem;
}

.capscorner {
    background-color: transparent;
    padding: 25px;
    border-radius: 1.5rem;

    &.left {
        box-shadow: -22px -30px 0px 0px $surface;
    }

    &.right {
        box-shadow: 25px -30px 0px 0px $surface;
    }
}

.osd-label {
  font-size: 1.5rem;
  font-weight: bold;
  color: $onSurface;
}

.osd-state {
  font-size: 1.5rem;
  margin: 0 0 0 1rem;
  font-weight: bold;
  color: $primary;
}

.numlock-osd {
  background-color: $surface;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;  padding: 1.5rem;
  color: $onSurface;
  min-width: 13.5rem;
}

.numcorner {
    background-color: transparent;
    padding: 25px;
    border-radius: 100%;

    &.left {
        box-shadow: -22px -30px 0px 0px $surface;
    }

    &.right {
        box-shadow: 25px -30px 0px 0px $surface;
    }
}

.osd-label {
  font-size: 1.5rem;
  font-weight: bold;
  color: $onSurface;
}

.osd-state {
  font-size: 1.5rem;
  margin: 0 0 0 1rem;
  font-weight: bold;
  color: $primary;
}