@import "/home/fede/.config/eww/colors.scss";

.powermenu-box {
  background-color: $surface;
  box-shadow: 0 0 0 0px;
  padding: 1.5rem 1.2rem 1.5rem 1.2rem;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}

.powerbox {
  background-color: transparentize($surfaceVariant,0.5);
  color: $primary;
  padding: 0.2rem 2.3rem 0.2rem 2rem;
  border-radius: 5rem;
  margin: 0 0.7rem;
}

.powerbox:hover {
  background-color: transparentize($surfaceVariant, 0.2);
  color: $primary;
}

.powerlabel {
    font-size: 5rem;
}

.powertext {
    margin: 1rem 0 0 0;
    font-size: 1.1rem;
    color: $onSurface;
}

.rebootbox {
  background-color: transparentize($surfaceVariant,0.5);
  color: $primary;
  padding: 0.6rem 0rem 0.6rem 0rem;
  border-radius: 5rem;
  margin: 0 0.7rem;
}

.rebootbox:hover {
  background-color: transparentize($surfaceVariant, 0.2);
  color: $primary;
}

.rebootlabel {
    font-size: 4.5rem;
}

.reboottext {
    margin: 1rem 0 0 0;
    font-size: 1.1rem;
        color: $onSurface;
}

.lockbox {
  background-color: transparentize($surfaceVariant,0.5);
  color: $primary;
  padding: 0.8rem 0.7rem 0.8rem 0.3rem;
  border-radius: 5rem;
  margin: 0 0.7rem;
}

.lockbox:hover {
  background-color: transparentize($surfaceVariant, 0.2);
  color: $primary;
}

.locklabel {
    font-size: 4.3rem;
}

.locktext {
    margin: 0.9rem 0 0 0;
    font-size: 1.1rem;
        color: $onSurface;
}

.suspendbox {
  background-color: transparentize($surfaceVariant,0.5);
  color: $primary;
  padding: 0.9rem 0.4rem 0.6rem 0.7rem;
  border-radius: 5rem;
  margin: 0 0.7rem;
}

.suspendbox:hover {
  background-color: transparentize($surfaceVariant, 0.2);
  color: $primary;
}

.suspendlabel {
    font-size: 4.4rem;
}

.suspendtext {
    margin: 0.9rem 0 0 0;
    font-size: 1.1rem;
        color: $onSurface;
}

.signbox {
  background-color: transparentize($surfaceVariant,0.5);
  color: $primary;
  padding: 0.9rem 1.1rem 0.6rem 0.7rem;
  border-radius: 5rem;
  margin: 0 0.7rem;
}

.signbox:hover {
  background-color: transparentize($surfaceVariant, 0.2);
  color: $primary;
}

.signlabel {
    font-size: 4.4rem;
}

.signtext {
    margin: 0.9rem 0 0 0;
    font-size: 1.1rem;
        color: $onSurface;
}