@import "/home/fede/.config/eww/colors.scss";

.recordcover {
  transition: 500ms;
  border-radius: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 1.0;
  margin: 10px;
  &.unround {
    border: solid 1px $primary;
    border-radius: 1.5rem;
    margin: 0px;
  }
}

.recordshadow {
  margin: 10px;
  transition: 500ms;
  border-radius: 500px;
  box-shadow: 5px 5px 4px black;
  &.unround {
    border-radius: 1.5rem;
    margin: 0px;
  }
}

.recordcenter {
  transition: 500ms;
  border-radius: 500px;
  background-color: $surface;
  padding: 28px;
}

.recordcentercenter {
  transition: 500ms;
  border-radius: 500px;
  background-color: $primary;
  padding: 5px;
}

.artisttext {
  color: $primary;
  font-size: 15px;
}

.songtext {
  color: $onSurface;
  font-size: 17px;
}

.trickcover {
  background-color: $surface;
  margin-top: -70;
  margin-bottom: 11px;
  margin-left: 0px;
  margin-right: -10px;
  border-bottom: solid 1px $primary;
  border-top: solid 1px $primary;
}

.trickcoverround {
  margin-top: -80px;
  margin-bottom: 70px;
  margin-left: 0px;
  margin-right: -10px;
  border-bottom: solid 1px $primary;
  border-right: solid 1px $primary;
  border-bottom-right-radius: 1.5rem;
  box-shadow: 3px 3px 0px $surface;
}

//////

.popup {
  background-color: $surface;
  padding: 0.5rem;
  border: solid 1px $surface;
    border-bottom-right-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
  }

.widget {
  background-color: transparentize($primary,0.3);
  padding: 0.3rem;
  margin: 0.3rem 0 1rem 0;
  border: solid 0px $primary;
  border-radius: 3rem; 
  transition: 500ms;
  &.bar {
    padding: 5px;
    margin: 5px;
  }
  &.transparent {
    background-color: transparent;
    border: none;
  }
}


///////

.music-bar {
    margin: 0.1rem 1.35rem 0.1rem 0;
      background-color: $primaryContainer;

}

.music-bar {
  background-color: transparentize($primary,0.2);
  border-radius: 2rem;
  padding: 0 0.2rem 0 0.2rem;
  border: 0.17rem solid transparentize($primaryContainer,0.5);
}

.previous {
  color: $surface;
  font-size: 3rem;
}

.play {
  color: $surface;
  font-size: 3rem;
}

.next {
  color: $surface;
  font-size: 3rem;
}