@import "/home/fede/.config/eww/colors.scss";

.screenshot-box {
    margin-top: 0rem;
    background-color: $surface;
    padding: 0rem 0.5rem 1rem 0.5rem;
    border-top-left-radius: 0rem;
    border-top-right-radius: 0rem;
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}

.screen-button1 {
    background-color: transparentize($surfaceVariant, 0.7);
    padding: 1.2rem 1.75rem 1.1rem 2rem;
    border-radius: 1.5rem;
    margin: 1rem;
    color: $primary;
}

.screen-button2 {
    background-color: transparentize($surfaceVariant, 0.7);
    padding: 1rem 2rem 0.5rem 2rem;
    border-radius: 1.5rem;
    margin: 1rem;
    color: $primary;
}

.screen-button3 {
    background-color: transparentize($surfaceVariant, 0.7);
    padding: 1rem 2.4rem 0.8rem 2.4rem;
    border-radius: 1.5rem;
    margin: 1rem;
    color: $primary;
}

.screen-button1:hover {
    color: $primary;
    background-color: transparentize($surfaceVariant, 0.5);
}

.screen-button2:hover {
    color: $primary;
    background-color: transparentize($surfaceVariant, 0.5);
}

.screen-button3:hover {
    color: $primary;
    background-color: transparentize($surfaceVariant, 0.5);
}


.screen1-label {
    font-size: 4rem;
    margin-right: 1rem;
}

.screen2-label {
    font-size: 4.6rem;
    margin-right: 1rem;
}

.screen3-label {
    font-size: 4.55rem;
    margin-right: 1.2rem;
}

.screenshot-bar {
    color: $onSecondaryContainer;
    background-color: $secondaryContainer;
    border-radius: 0.3rem;
    padding: 0rem 0.82rem 0 0.45rem;
    margin: 0.3rem 0.5rem 0.3rem 0.6rem;
    transition: 0s;
    font-size: 1.3rem;
}

  .screencorner {
    background-color: transparent;
    padding: 25px;
    border-radius: 100%;
  
    &.left {
      box-shadow: -22px -30px 0px 0px $surface;
    }
  
    &.right {
      box-shadow: 25px -30px 0px 0px $surface;  
    }
  }


  .screenfolder  {
        background-color: transparentize($surfaceVariant, 0.7);
        margin: 0.9rem 0rem 0 0rem;
        padding: 0.4rem 1rem 0.4rem 0.8rem;
        border-radius: 3rem;
    }

.screenfolder:hover  {
        background-color: transparentize($surfaceVariant, 0.2);
    }

.screen  {
    color: $onSurface;
    }
.window  {
    color: $onSurface;
    }
.select  {
    color: $onSurface;
    }


.screentext  {
    color: $secondary;
    }