@import "/home/fede/.config/eww/colors.scss";

.clock-box {
    padding: 0 0.3rem 0 0.1rem;
}

.clock {
    background-color: transparent;
    color: $onBackground;
    border-radius: 0.7rem;
    padding: 0 0rem 0 0.5rem;
    font-size: 1.1rem;
    margin: 0 0 0 0rem;
}

.clock:hover {
    background-color: transparentize(#FFFFFF, 0.8);
    color: $onBackground;
}

.notification-icon {
    padding: 0 0.4rem 0 0.3rem;
    font-size: 1.05rem;
}

.weath-icon {
    padding: 0 0.6rem 0 0rem;
    font-size: 1.1rem;
    margin-top: 0rem;
}