.hidebutton {
    font-size: 1.3rem;
    padding: 0 0.5rem 0 0.4rem;
    margin: 0rem 0rem 0rem 0rem;
    border-radius: 0.7rem;
    transition: 0s;
}
.hidebutton:hover {
    background-color: transparentize(#FFFFFF, 0.8);
}