.music {
    background-color: transparentize($surfaceVariant, 0.70);
    border-radius: 1rem;
    padding: 0.5rem 0.5rem 0rem 0.5rem;
    color: $onSurface;
    box-shadow: 0 0 0px 0px $shadow;
    margin: 1rem 0 0 0;
}

.music-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 4rem;
    min-width: 6rem;
    border-radius: 1rem;
}

.music-text {
    margin-left: 1rem;
}

.music-title {
    font-size: 1.2rem;
}

.music-artist {
    color: $onSurfaceVariant;
}

.music-name {
    background-color: transparent;
    color: transparent;
    padding: 0rem 0.5rem;
    border-radius: 1rem;
    font-size: 1rem;
}

.music-action {
    font-size: 2rem;
    min-width: 3rem;
}

.music-action:hover {
 color: $primary;
}

.music-scale {
    margin-top: 1rem;
}

.music-scale trough {
    background-color: $surface;
    border-radius: 1rem;
    min-height: 0.5rem;
}


.music-scale highlight {
    background-color: $primary;
    border-radius: 1rem;
    min-height: 0.5rem;
}

.music-strtime {
    color: $onSurfaceVariant;
    margin-top: 0.25rem;
}