
@import "/home/fede/.config/eww/colors.scss";

.power {
    font-size: 1.2rem;
    font-weight: bolder;
    background-color: transparent;
    color: $onBackground;
    border-radius: 0.7rem;
    margin: 0 0rem 0 0;
    transition: 0.3s;
    padding: 0 0.83rem 0 .6rem;
}

.power:hover {
    background-color: rgba($error, 1);
    color: $background
}