@import "/home/fede/.config/eww/colors.scss";

.workspaces {
    border-radius: 1rem;
    padding: 0rem;
    margin: 0 1rem;
    background-color: rgba(0, 0, 0, 0.0);
}

.workspace {
    font-size: 0rem;
    border-radius: 1rem;
    background-color: $inversePrimary;
    margin: 0.5rem 0.2rem 0.5rem 0.2rem;;  
    padding: 0rem 0.5rem 0rem 0.4rem;
    transition: 0s;

    &.current {
        background-color: $primary;
        padding: 0 1.1rem;     
        margin: 0.35rem 0.3rem 0.35rem 0.3rem;
        margin: 0.35rem 0.3rem 0.35rem 0.3rem;
    }

    &.urgent {
        background-color: $error;
    }

    &.empty {
        background-color: $onBackground;
        padding: 0rem 0.2rem 0rem 0.2rem;
        margin: 0.8rem 0.3rem 0.8rem 0.3rem;

    }

}

.workspace:hover {
    background-color: $secondary;
    &.current {
        background-color: $secondary;
    }
}
